<%= stylesheet_link_tag 'prompts' %>

<h1>Gratitude Journal Prompts</h1>

<div class="prompts">
 <h4>Need some ideas? Here are a few prompts to get you started:</h4>
  
  
  <ul>
    <li>What or who made you smile today?</li>
    <li>What do you like about where you live (your home/neighborhood/town)?</li>
    <li>Write about a person in your life that you’re especially grateful for and why.</li>
    <li>How is where you are in life today different than a year ago–and what positive changes are you thankful for?</li>
    <li>Describe three things that went well recently, and how they made you feel.</li>
    <li>Write about a technological advancement you're grateful for and how it makes your life easier.</li>
    <li>Write a letter to someone who has positively impacted your life, however big or small.</li>
    <li>What activities and hobbies would you miss if you were unable to do them?</li>
    <li>What made you laugh today?</li>
    <li>What part of your morning routine are you most thankful for? (A big stretch before you get out of bed, that warm cup of coffee, a cuddle session with your pet…)</li>
    <li>What is something you’re grateful to have learned this week?</li>
    <li>Use your five senses. What do you see, hear, smell, touch and taste that you feel grateful for?</li>
    <li>Are there any skills and abilities that you are thankful to have?</li>
    <li>Are there anything in nature that keeps you in awe or you find beautiful? (For example, rain, bird chirping, butterflies.)</li>
    <li>What are you taking for granted about your day to day that you can be thankful for? (Can’t think of any? Your alarm clock, your coffee machine, your friendly neighbor who always says good morning …)</li>
  </ul>
</div>

</div>